<main>
    <form method="POST" action='@Url.Action()'></form>
    <section class=video>
        
        <h1>Venha festejar conosco!</h1>
        
        <div class=mp4>
            <div class=color></div>
            <video autoplay="true" loop="true" muted src="img/video/GLASS_BACKGROUND_CLUB.mp4">
                <source src="video.mp4" type="video/mp4">
                </video>
            </div>
        </section>
    </main>