  <main>
  <section>
<h1>Ambiente</h1>

<div class="container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
            <img src="~/img/slide/1.jpeg" style="width:80%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
            <img src="~/img/slide/2.jpeg" style="width:80%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
            <img src="~/img/slide/3.jpeg" style="width:80%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">4 / 6</div>
            <img src="~/img/slide/4.jpg" style="width:80%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
            <img src="~/img/slide/5.jpeg" style="width:80%">
        </div>
      
        <div class="mySlides">
          <div class="numbertext">6 / 6</div>
            <img src="~/img/slide/7.jpg" style="width:80%">
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
        <!-- Image text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>
      
        <!-- Thumbnail images -->
        <div class="row">
          <div class="column">
            <img class="demo cursor" src="~/img/slide/1.jpeg" style="width:100%" onclick="currentSlide(1)" alt="Pista">
          </div>
          <div class="column">
            <img class="demo cursor" src="~/img/slide/2.jpeg" style="width:100%" onclick="currentSlide(2)" alt="Pista">
          </div>
          <div class="column">
            <img class="demo cursor" src="~/img/slide/3.jpeg" style="width:100%" onclick="currentSlide(3)" alt="Balcão">
          </div>
          <div class="column">
            <img class="demo cursor" src="~/img/slide/4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Casamento">
          </div>
          <div class="column">
            <img class="demo cursor" src="~/img/slide/5.jpeg" style="width:100%" onclick="currentSlide(5)" alt="Natureza">
          </div>
          <div class="column">
            <img class="demo cursor" src="~/img/slide/7.jpg" style="width:100%" onclick="currentSlide(6)" alt="Festaele">
          </div>
        </div>
      </div>
      </section>
      </main>