* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav #bt-mobile-menu {
display: none;
}

#ima{
background-image: linear-gradient(#fff,#ffc600);
}

nav div{
display: flex;  
justify-content: space-between; 

}

.junto{
flex-direction: row;
align-items: center;

}

nav p{
justify-content: flex-end;
font-family: 'Limelight', cursive;
font-size: 1.5em;
padding: 0em 0px 0px 9px;

}

img:first-child{
width: 8%;
padding: 0.2em;
}

.junto img:first-child{
width: 40%;
padding: 0;
}

.junto > a{
  color: black;
  padding: 0.2em;
}

ul{
background-color: #ffc600;
width: 100%;
height: 50%;

}

nav ul > li > a{
  text-decoration: none;
  padding: 0% 5% 0% 5%;
  color: black;
}

  nav ul > li{

width: 100%;
text-align: center;

}

NAV ul{
display: flex;
flex-direction: row;
flex-wrap: nowrap;  
font-size: 1.5em;
font-family: 'Limelight', cursive;
align-items: flex-end;
justify-content: space-between;
list-style-type: none;

    }

nav ul > li > a:hover{
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);

}  
h1{
    text-align: center;
        text-align: center;
        color: brown;
        margin-bottom: 2%;
        margin-top:2%;
        font-size: 1.5em;
        font-family: 'Limelight', cursive;
        
}

.botãoum{
    background-color: rgb(128, 189, 128);
}

.botãodois{
    background-color: rgb(250, 111, 111);
}




#tabela{
    
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 35px;
    height: 20%;
 
   
}

table{
    border: solid black 2px;
    margin-bottom: 2%;
    margin-top: 1%;
    border-width:3%;
    display: block;
    position: relative;
    height: 200px;
    overflow: auto;
    
    
}
#block{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 35px;
    height: 20%;
 
}

h2{
  text-align: center;
  display: block;
  align-items: center;
  justify-items: center;
}


  #rodapé {
    background-image: linear-gradient(#ffc600,#fff);
    height: 10em;
    padding: 1.5%;
    
  }
  @media (max-width: 900px) {
    #tudo img{
      width: 50%;
    }
  }
  @media (max-width:600px){
    nav #bt-mobile-menu {
      display: block;
  
  }
  
  nav #bt-mobile-menu {
    display: block;
  }
  
  nav .bt-common-menu {
    display: none;
  }
  
  nav .bt-common-menu.active {
    display: block;
  }
  
  nav ul.mobile-mode {
    display: flex;
    flex-direction: column;
  }
  
  
  }
  @media (max-width: 600px) {
    img:first-child{
      width: 19%;
      }
  
  }
  
  @media (max-width: 600px) {
    .junto img:first-child{
        width: 100%;
        padding: 0% 3% 0% 5%;
        margin-right: 3%;
      }
  
  }
  
  @media (max-width: 600px) {
    .junto{
      margin-left: 9em;
      }
  
  }