@model RolêTopMVC.ViewModels.HistoricoViewModel
 <main>
     <h1>Página do Cliente</h1>
    <h2>Seus Pedidos:</h2>
<div id="tabela" style="border="1">
    
    <table >
        <div class="thead" style="border="3">
            <thead>
                <tr>
            
                    <th rowspan="2">          Pacote       </th>
                    <th rowspan="2">          Data            </th>
                    <th rowspan="2">         horario         </th>

            
                </tr>
            </thead>
        </div>
            <div class="body" style="border="3">
            <tbody >
        @foreach(var produto in Model.Produto)
        {
                <tr>
                            <td colspan="2">   @produto.Cliente.Nome   </td>
                            <td colspan="2">         @produto.data           </td>
                            <td colspan="2">   @produto.horario        </td>

                </tr>
        }
            </tbody>
            </div>
    </div>
    </table>
 </main>
 