@model RolêTopMVC.ViewModels.HistoricoViewModel
 <main>
<div id="tabe">
    <table border=1px >
 </thead>
         <tr>
            
                    <th style="width:500px; display:block; text-align: left">       Pacote     </th>
                    <th style="width:500px; display:block; text-align: left">      Data       </th>
                    <th style="width:500px; display:block; text-align: left">       Preço      </th>
                    <th style="width:500px; display:block; text-align: left">      Pendente     </th>
            
                </tr>
        </thead>
        @foreach(var produto in Model.Produto)
        {
            <tbody>
                <tr>
                            <td>@produto.Cliente.Nome</td>
                            <td>@produto.data</td>
                            <td>@produto.horario</td>
                <tr>
            </tbody>
        }
    </div>
    </table>
 </main>