<main>
    <form method="POST" action='@Url.Action()'></form>
    <section id=tudo>
        <div>
            <h1>CASA</h1>
        </div>
        <!-- 100% -->
        <div id="info">
            
            <p>
                Temos um excelente espaço
                <br>
                com dois banheiros, área de
                <br>
                fumante, camarim, luz e som
                <br>
                de bela qualidade.
                <br>
                Venha conhecer nosso espaço!
            </p>
            
            
            
            
            <img src="~/img/foto.casa/WhatsApp-Image-2019-02-27-at-20.42.02-1.jpeg" alt="foto do bar">
            
            
        </div>
    </section>
</main>